
labs/lab2/alu.c
labs/lab2/alu.h
labs/lab2/fmul_positivesWorking.c
labs/lab2/lab2 _844PM.c
labs/lab2/lab2_Cameron.c
labs/lab2/lab2_old.c
labs/lab6/a.exe
labs/lab6/decoder.h.gch
labs/lab6/decoder.h.gch
labs/lab6/decoder.h.gch
labs/lab6/decoder.h.gch
labs/lab6/decoder.h.gch
labs/lab6/a.out
*.out
*.gch
